@import '../../settings';

.footer-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    
        .item {
            margin: 2rem;
        }
    
}
 
    